table
{
    font-size: large;
    color: black;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}
th
{
    background-color: #6bd66b5e;
    font: 25px Arial, sans-serif;
    border: 3px solid;
    width: 50px;
    height: 50px;
}
th:hover{background-color:#6BD66B; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
.boking
{
    margin-top: 50px;
    padding-top: 40px;
    border: 3px solid;
    border-radius: 12px;
    width: 500px;
    height: 380px;
    background-color: #6bd66b5e;
}
input
{
    font: 25px Arial, sans-serif;
    border: 3px solid;
    border-radius: 12px;    
}
label   
{
    font: 25px Arial, sans-serif;
}
p, th
{
    padding-top: 50px;
    padding-right: 50px;
}
a{color: #6BD66B; opacity: 0.7;}
a:hover{color: #F0C648; text-decoration: solid; opacity: 1;}
a:active{color: #6BD66B;}
h1
{
    border: 3px solid;
    border-radius: 12px;
    background-color: #6bd66b5e;
    padding-top: 5px;
    padding-left:50px;
    font-size: 3em;
    color: black;
}
.index1Buttons
{
    color:black;
    background-color:#6bd66b5e;
    border-color: black;
    border-radius: 12px;
    width: 300px;
    height: 70px;
    font: 20px Arial, sans-serif;
    margin-top: 10px; margin-left: 20px;
}
p,.index1Buttons{padding-top: 20px; padding-right: 200px;}
.index1Buttons:hover{background-color: #6BD66B; box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
body.home{background-image: url("Pictures/TennisBackground.jpg"); background-size: 100%;}
body.bastu{background-image: url("Pictures/BastuBackgrund.jpg"); background-size: 100%;}
body.banor{background-image: url("Pictures/TennisCourt.jfif"); background-size: 100%;}
body.omkladningsrum{background-image: url("Pictures/Omkladningsrum.jpg"); background-size: 100%;}
@media screen and (max-width: 1100px) 
{
    .index1Buttons 
    {
      width: 200px; height: 50px;
    }
}
@media screen and (max-width: 750px)
{   
    body
    {
        background-image: none;
    }
    .index1Buttons
    {
        margin-top: 20px; margin-left:0px;
    }   
    .boking
    {
        width: 350px; height: 400px;
    } 
    h1
    {
        font-size: 2em;
    }
}
@media screen and (max-width: 500px)
{
    .index1Buttons
    {
        width: 400px; height: 70px;
    }
}